# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
env/
ENV/
pip-log.txt

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and temp
data/logs/
*.log
*.tmp

# Byte-compiled, compiled or packaged files
*.bak
*.swp
*.swo

# Docker / Deploy
*.tar
*.tar.gz
*.sqlite
*.db

